/Library
/myShaderLibrary.CSharp.csproj
/myShaderLibrary.sln
/myShaderLibrary.v12.suo
/Assets/UnityVS
/Assets/UnityVS.meta
/Temp
/Assembly-CSharp.csproj
/myShaderLibrary.csproj
/.vs
/obj
Unity.Postprocessing.Editor.Tests.csproj
Unity.Postprocessing.Runtime.csproj
Unity.Postprocessing.Runtime.Tests.csproj
Unity.Postprocessing.Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-Editor.csproj
Library
