/Library
/myShaderLibrary.CSharp.csproj
/myShaderLibrary.sln
/myShaderLibrary.v12.suo
/Assets/UnityVS
/Assets/UnityVS.meta
/Temp
/Assembly-CSharp.csproj
/myShaderLibrary.csproj
/.vs
/obj
Unity.Postprocessing.Editor.Tests.csproj
Unity.Postprocessing.Runtime.csproj
Unity.Postprocessing.Runtime.Tests.csproj
Unity.Postprocessing.Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-Editor.csproj
Library
Temp
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
BuildIn.sln
obj
.vs
/Project/HDRP/HDRP.sln
/Project/URP/URP.sln
/Project/Common/Common.sln
/Project/URP/.vsconfig
/Project/Common/.vsconfig
/Project/Common/Logs
/Project/URP/Logs
/Project/URP/*.csproj
/Project/Common/*.csproj
